NEXT_PUBLIC_API_URL=http://localhost:5000
NEXT_PUBLIC_CHAIN_ID=421614
NEXT_PUBLIC_RPC_URL=https://sepolia-rollup.arbitrum.io/rpc
NEXT_PUBLIC_BASKET_REGISTRY_ADDRESS=
NEXT_PUBLIC_BASKET_VAULT_ADDRESS=
NEXT_PUBLIC_REBALANCE_ENGINE_ADDRESS=
NEXT_PUBLIC_FEE_DISTRIBUTION_ADDRESS=
