MONGODB_URI=mongodb://127.0.0.1:27017/ssi-factory
PORT=5000
NODE_ENV=development
JWT_SECRET=replace_with_a_long_random_secret
FRONTEND_ORIGIN=http://localhost:3000
SOSOVALUE_API_KEY=
SOSOVALUE_API_URL=https://openapi.sosovalue.com
SODEX_API_KEY=default
SODEX_ACCOUNT_ADDRESS=0x79601AC98F844aD09b485F739D3C478C5b131A10
SODEX_API_URL=https://testnet-gw.sodex.dev/api/v1/spot
SODEX_ACCOUNT_ID=56898
SODEX_ENABLE_TRADING=false
ARBITRUM_RPC_URL=https://sepolia-rollup.arbitrum.io/rpc
PRIVATE_KEY=
PLATFORM_WALLET=
BASKET_REGISTRY_ADDRESS=0x9A1EF6E5EFAE3c63dC41D2c7678B43889108C1d3
BASKET_VAULT_ADDRESS=0x2CB9ED6e8332b5124cB0f8E55A8428E52a9D6770
REBALANCE_ENGINE_ADDRESS=0xfa41C917D719e0B0FbFB842E1865122AE8490D1b
FEE_DISTRIBUTION_ADDRESS=0x8FFA1990441530691EB7380A88a7d061F6Ddd2B4
ENABLE_CRON=false
