ARBITRUM_SEPOLIA_RPC=https://sepolia-rollup.arbitrum.io/rpc
DEPLOYER_PRIVATE_KEY=
ETHERSCAN_API_KEY=
USDC_ADDRESS=0x75faf114eafb1BDbe2F0316DF893fd58CE46AA4d
PLATFORM_WALLET=0x79601AC98F844aD09b485F739D3C478C5b131A10
